@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #0f171e;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  font-size: larger;
  color: white;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  min-height: 10vh;
}

nav .dropdown-toggle {
  color: rgba(255, 255, 255, 0.65);
}
nav .dropdown-toggle:hover,
nav .dropdown-toggle:focus {
  color: white;
}
